.HomePageContainer {
  padding: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HomePageImage {
  width: 500px;
  height: auto;
}

@media (max-width: 480px) {
  .HomePageImage {
    width: 100%;
  }

  .SessionImage {
    width: 100%;
  }
}
